:root {
    --body-color: #F5F5F0;
    --text-color: #67615A;
    --card-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
}

.card {
    margin: 0 auto;
}

header p {
    width: 40%;
    margin: 0 auto;
    color: var(--text-color);
}
.wrapper {
    background-color: var(--body-color);
}